# Pandas intro

The most common way for data to be stored and displayed is using spreadsheets, such as Excel.  In an Excel file, data is organized into 
columns and rows. In data science, the concept of spreadsheets is expressed as data frames, which are like Excel pages that can be manipulated 
using code.  Both R and Python make use of data frames as fundamental building blocks for analysis.

In python, the most widely used package for data frame work is [pandas](https://pandas.pydata.org/).  It is ubiquitous in Python data science applications.  When doing single cell RNA seq analysis in Python, the main tool is [scanpy](https://scanpy.readthedocs.io/en/stable/index.html), which is built around the [AnnData](https://anndata.readthedocs.io/en/latest/) data type.  AnnData objects consist
of data frames to hold both gene and cell data as well as a matrix representing gene expression per cell.  In order to be able to work 
with AnnData objects, it is necessary to have some understanding of pandas datatypes.

## Online pandas tutorials

I highly recommend the free YouTube tutorials by [Corey Schafer](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS). 
They should provide you with everything you need to work with pandas data frames.  He also has excellent videos on related topics including 
Python programming.

In [ ]:
#
# Excercise 1
# load pandas into this notebook
# use it to read in a data file located at "data/folks.csv"
# show the first few rows of data
#

In [32]:
import pandas as pd
df = pd.read_csv("data/folks.csv")
df.head()

  First Name Last Name Occupation     Sex  Age  Weight  Income
0        Ted    Turner     Tinker    Male   33      70   50000
1      Carol      King     Tailor  Female   27      50   60000
2      Alice    Toklas    Soldier  Female   48      60   70000
3        Bob    Barker        Spy    Male   61      80   55000

In [33]:
#
# Exercise 2
# Create a new column called "Full Name" from the "First Name" and "Last Name" columns
#

In [34]:
#
# Excerise 3
# Find the "Full Name" and "Sex" of those with salaries greater than 50000
#