# Baglole Lab Tutorial Setup

This file contains the instructions to set up the tutorial.

If you haven't already done so, use wget to download the single cell data we'll be working with,
which is from the `scanpy` tutorial.

```bash
wget http://cf.10xgenomics.com/samples/cell-exp/1.1.0/pbmc3k/pbmc3k_filtered_gene_bc_matrices.tar.gz -O data/pbmc3k_filtered_gene_bc_matrices.tar.gz
```

In [20]:
! if [ -e "data/pbmc3k_filtered_gene_bc_matrices.tar.gz" ]; then echo "Exists"

zsh:1: parse error near `"Exists"'

Now we need to produce files to work with during the tutorial.  We will do this with a series of Python commands.

In [10]:
import pandas as pd
from pathlib import Path

In [8]:
# first read in the data in comma separated value format
folks = pd.read_csv("data/folks.csv")
folks.head()

    Name Occupation     Sex  Age  Weight  Income
0    Ted     Tinker    Male   33      70   50000
1  Carol     Tailor  Female   27      50   60000
2  Alice    Soldier  Female   48      60   70000
3    Bob        Spy    Male   61      80   55000

In [11]:
# now save the data in tab separated value format
folks_tsv_path = Path("data/folks.tsv")
if not folks_tsv_path.exists():
    folks.to_csv("data/folks.tsv", sep='\t')

In [12]:
# read the data in Excel format
folks_xl = pd.read_excel("data/folks.xlsx")
folks_xl.head()

    Name Occupation     Sex  Age  Weight  Income
0    Ted     Tinker    Male   33      70   50000
1  Carol     Tailor  Female   27      50   60000
2  Alice    Soldier  Female   48      60   70000
3    Bob        Spy    Male   61      80   55000

In [13]:
folks_tsv = pd.read_csv("data/folks.tsv", sep='\t')
folks_tsv.head()

   Unnamed: 0   Name Occupation     Sex  Age  Weight  Income
0           0    Ted     Tinker    Male   33      70   50000
1           1  Carol     Tailor  Female   27      50   60000
2           2  Alice    Soldier  Female   48      60   70000
3           3    Bob        Spy    Male   61      80   55000