# Baglole Lab Tutorial Setup

This file contains the instructions to set up the tutorial.

If you haven't already done so, use wget to download the single cell data we'll be working with,
which is from the `scanpy` tutorial.

In [1]:
import tut_init
tut_init.install_pbmc_matrices()

pbmc file already downloaded

7444it [00:00, 19090.70it/s]

Now lets convert this file into a anndata structure for subsequent analysis

In [4]:
from rdsad import seurat
mtx, barcodes, features = seurat.read_10x_data("data")
adata = seurat.create_adata(mtx, barcodes, features)

Now we need to produce files to work with during the tutorial.  We will do this with a series of Python commands.

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# first read in the data in comma separated value format
folks = pd.read_csv("data/folks.csv")
folks.head()

    Name Occupation     Sex  Age  Weight  Income
0    Ted     Tinker    Male   33      70   50000
1  Carol     Tailor  Female   27      50   60000
2  Alice    Soldier  Female   48      60   70000
3    Bob        Spy    Male   61      80   55000

In [4]:
# now save the data in tab separated value format
folks_tsv_path = Path("data/folks.tsv")
if not folks_tsv_path.exists():
    folks.to_csv("data/folks.tsv", sep='\t')

In [5]:
# read the data in Excel format
# make sure to install openpyxl first using `conda install -c conda-forge openpyxl -y`
# This may require you to restart the kernel.
#
folks_xl = pd.read_excel("data/folks.xlsx")
folks_xl.head()

    Name Occupation     Sex  Age  Weight  Income
0    Ted     Tinker    Male   33      70   50000
1  Carol     Tailor  Female   27      50   60000
2  Alice    Soldier  Female   48      60   70000
3    Bob        Spy    Male   61      80   55000

In [6]:
folks_tsv = pd.read_csv("data/folks.tsv", sep='\t')
folks_tsv.head()

   Unnamed: 0   Name Occupation     Sex  Age  Weight  Income
0           0    Ted     Tinker    Male   33      70   50000
1           1  Carol     Tailor  Female   27      50   60000
2           2  Alice    Soldier  Female   48      60   70000
3           3    Bob        Spy    Male   61      80   55000